{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="Auth">
    <div class="wrapper">
        <h3 class="sign-in">Регистрация</h3>
<!--        <form method="post" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <input type="submit" value="Создать аккаунт"/>-->
<!--            <a class="sub-link" href="#">Войти</a>-->
<!--        </form>-->
<!--            <input class="user-input" type="text" name="name" id="name" placeholder="Имя"/>-->
<!--            <input class="user-input" type="text" name="login" id="login" placeholder="Логин"/>-->
<!--            <input type="password" name="password" id="password" placeholder="Пароль"/>-->
<!--            <input type="submit" value="Создать аккаунт"/>-->
<!--            <a class="sub-link" href=""><button type="submit">Sign up</button></a>-->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'username' or field.name == 'password1' or field.name == 'password2' or field.name == 'avatar' %}
                    <div>{% render_field field class="user-input" %}</div>
                    <div>{{ field.help_text }}</div>
                {% else %}
                    <div>{% render_field field class="user-input" placeholder=field.help_text %}</div>
                {% endif %}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li class="field-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Создать аккаунт"/>
            <a class="sub-link" href="{% url 'user:sign-in' %}">Войти</a>
        </form>
        <a href="{% url 'shop:index' %}">Back to main</a>
    </div>
</div>
{% endblock %}
<!--                {% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'city' %}-->
<!--                    <div>{% render_field field class="user-input" placeholder=field.help_text %}</div>-->
<!--                    <div>{% render_field field class="user-input" placeholder=field.help_text %}</div>-->
<!--                {% else %}-->
<!--                    <div>{% render_field field class="user-input" placeholder=field.help_text %}</div>-->
<!--                {% endif %}-->

{% block mixins %}
<script src="{% static 'frontend/assets/js/signUp.js' %}"></script>
{% endblock %}